.hidden {
  display: none;
}
body {
  background-color: #3363c93b;
}

.main-area {
  padding: 25px;
  width: 40%;
  font-size: medium;
  background-color: #fff;
}

.welcome-title {
  font-size: 25px;
  font-weight: 600;
}
.title {
  font-size: 25px;
}
.enter-button {
  margin-top: 20px;
  background-color: #0d57f7;
  color: #fff;
}

.input-label {
  margin: 10px;
  font-size: 20px;
  font-weight: 500;
}
.first-input {
  font-size: 20px;
  font-weight: 200;
}
.second-input {
  width: calc(80% - 30px);
  // display: inline;
}
.send-button {
  background-color: #264611cc;
  color: white;
}

.messages {
  height: 700px;
  width: 100%;
  &--body {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }
  &--body::-webkit-scrollbar {
    display: none;
  }
  &--input {
    margin-bottom: 20px;
    margin-left: 10px;
  }
}

.all-messages {
  height: 30%;
  display: block;
}

.avatar {
  width: 50px;
  height: 50px;
  padding: 20px;
  font-size: 15px;
  border-radius: 50%;
  background-color: red;
  margin-right: 10px;
}
